$bg-dark: hsl(216, 12%, 8%);
$bg-ligth: hsl(213, 19%, 18%);
$bg-medium: hsl(210, 2%, 22%);
$color: hsl(0, 0%, 100%);
$grey-color: hsl(216, 12%, 54%);
$btn-bg: hsl(25, 97%, 53%);
$btn-hover: hsl(23, 98%, 50%);